#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        thumb_layer_spacebar: thumb_layer_spacebar {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER_SPACEBAR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <200>;
            flavor = "balanced";
        };

        thumb_layer: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
        };
    };

    macros {
        tothaionmac: tothaionmac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CAPSLOCK &tog 1>;
            label = "TOTHAIONMAC";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 7                                                                                                                  &mo 6                 &kp N6  &kp N7            &kp N8             &kp N9                &kp N0                 &kp MINUS
&kp TAB    &kp Q      &kp W     &kp F     &kp P      &kp B   &tothaionmac                                                                                                            &none                 &kp J   &kp L             &kp U              &kp Y                 &kp SEMICOLON          &kp BSLH
&kp ESC    &kp A      &kp R     &kp S     &kp T      &kp G   &tog 1                             &mt LEFT_SHIFT ESCAPE  &kp LEFT_CONTROL      &kp RCMD       &kp RIGHT_CONTROL        &tog 3                &kp M   &kp N             &kp E              &kp I                 &kp O                  &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp D      &kp V                                                             &mo 5                 &kp RIGHT_ALT                                                 &kp K   &kp H             &kp COMMA          &kp DOT               &kp FSLH               &kp RSHFT
&mo 4      &kp GRAVE  &kp CAPS  &kp LALT  &kp ENTER          &thumb_layer_spacebar 2 BACKSPACE  &kp LCMD               &kp SPACE             &none          &mt RIGHT_CONTROL ENTER  &thumb_layer 3 SPACE          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &mo 4
            >;
        };

        qwerty {
            display-name = "qwerty";
            bindings = <
&kp EQUAL  &kp N1     &kp N2  &kp N3  &kp N4  &kp N5  &trans                                      &trans  &kp N6  &kp N7            &kp N8             &kp N9   &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E   &kp R   &kp T   &trans                                      &trans  &kp Y   &kp U             &kp I              &kp O    &kp P     &kp BSLH
&kp ESC    &kp A      &kp S   &kp D   &kp F   &kp G   &trans  &trans  &trans      &trans  &trans  &trans  &kp H   &kp J             &kp K              &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C   &kp V   &kp B                   &trans      &trans                  &kp N   &kp M             &kp COMMA          &kp DOT  &kp FSLH  &kp RSHFT
&mo 4      &kp GRAVE  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans   &trans    &mo 4
            >;
        };

        cmd {
            bindings = <
&trans  &trans  &trans    &trans    &trans     &trans  &trans                                          &trans     &trans      &trans         &trans     &trans   &trans  &trans
&trans  &trans  &trans    &kp UP    &trans     &trans  &trans                                          &trans     &kp DELETE  &kp DEL        &trans     &trans   &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans  &trans  &trans        &trans    &trans  &trans     &kp ENTER   &kp BACKSPACE  &kp SPACE  &kp TAB  &trans  &trans
&trans  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                  &kp BSPC      &kp BSPC                     &kp N6      &kp N7         &kp N8     &kp N9   &kp N0  &trans
&trans  &trans  &trans    &trans    &trans             &trans  &trans  &trans        &trans    &trans  &kp ENTER              &trans         &trans     &trans   &trans  &trans
            >;

            label = "Command";
        };

        number {
            bindings = <
&trans     &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                                      &trans  &trans           &trans           &trans           &trans                &trans                &trans
&trans     &kp EXCLAMATION    &kp AT           &kp HASH         &kp DLLR              &kp PRCNT              &trans                                      &trans  &kp LCTRL        &kp AMPERSAND    &kp ASTERISK     &kp SEMICOLON         &kp COLON             &trans
&trans     &kp KP_NUMBER_1    &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4       &kp KP_NUMBER_5        &trans  &trans  &trans      &trans  &trans  &trans  &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_N8        &kp KP_NUMBER_9       &kp KP_NUMBER_0       &trans
&kp LSHFT  &kp DOUBLE_QUOTES  &kp MINUS        &kp UNDERSCORE   &kp PLUS              &kp EQUAL                              &trans      &trans                  &kp PIPE         &kp SLASH        &kp COMMA        &kp DOT               &kp NON_US_BACKSLASH  &kp RSHFT
&trans     &kp TILDE          &kp SQT          &kp ASTERISK     &kp SLASH                                    &trans  &trans  &trans      &trans  &trans  &trans                   &kp LEFT_BRACE   &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RPAR              &trans
            >;

            label = "Number";
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &none                                       &none   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        controller {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                                                          &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &out OUT_USB  &kp UP        &trans        &out OUT_BLE  &trans                                                          &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &kp LEFT      &kp DOWN      &kp RIGHT     &trans        &trans  &trans  &trans      &trans                &kp K_MUTE    &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                        &trans      &kp C_BRIGHTNESS_INC                                 &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans                      &trans  &trans  &trans      &kp C_BRIGHTNESS_DEC  &kp C_VOL_DN  &kp C_VOLUME_UP          &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                                                 &trans           &none  &none       &none       &none  &none  &none
&none           &none         &out OUT_USB  &none         &none         &out OUT_BLE  &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        gaming {
            bindings = <
&trans          &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp I   &kp Q   &kp W   &kp R   &kp T   &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp G   &kp A   &kp S   &kp D   &kp F   &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp B   &kp Z   &kp X   &kp C   &kp V                   &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;

            label = "Gaming";
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
